/Southworks-TC/Southworks-TC/bin
/Southworks-TC/packages
/Southworks-TC/Southworks-TC.Service/bin
/Southworks-TC/Southworks-TC.Service/obj
/Southworks-TC/Southworks-TC.Repository/obj
/Southworks-TC/Southworks-TC.Database/bin
/Southworks-TC/Southworks-TC/obj
/Southworks-TC/.vs
/Southworks-TC/Southworks-TC.Database/obj
/Southworks-TC/Southworks-TC.Repository/bin
